/********************************************
* User defines CSS jcrDevTeam
********************************************/
.def-block {
   width: 100%;
   background-color: #31572c;
   color: white;
   font-family: 'Pacifico', sans-serif;
   border-radius: 10px;
   text-align: left;


}

.def-block-eq {
  width: 100%;
  border-radius: 10px;
  background-color: hsla(87, 40%, 80%, 0.6);
  text-align: justify;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
}



.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
